---
import PrimitiveLayout from "@/layouts/primitive-layout.astro";
---

<PrimitiveLayout
  title="new Astro project"
  description="Hello world"
>
  <main class="flex min-h-screen items-center justify-center">
    <p class="font-bold">Hello world!</p>
  </main>
</PrimitiveLayout>
